body {
  position: relative;
  padding-top: 70px;
}
.hios-active {
  display: block
}
.hios-inactive {
  display: none !important;
}
.hios-activated{
  background-color: red;
}
.hios-audio-controls, .hios-list-controls {
  font-size: 2em;
  &i {
    padding: .1em;
    font-size: 2em;
    transition: font-size .1s ease;

    &:hover {
      font-size: 1.2em;
    }
  }
}
.hios-wrap {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#hios-mini, #hios-full {
  position: fixed;
  background-color: gainsboro;
  bottom: 0;
  padding: .4em;
  z-index: 90
}
#hios-mini {
  height: 60px;
  width: 300px;
  border-radius: 10px;
  margin: .3em .3em;
  z-index: 100;
  &> .hios-wrap {
    &> img.hios-thumbnail {
      display: inline-block;
      border-radius: .3em;
      box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.8);
      max-width: 20%;
      flex: 1 auto;
      padding: 0;
    }
    &> .hios-song-title {
      flex:  1 auto;
      padding: 15px;
    }
    &> .hios-audio-controls {
      align-self: center;
      flex: 1 auto;
      max-width: 25%
    }
  }
}

#hios-full {
  right: 0;
  top: 0;
  width: 20em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  &> .hios-cover-container{
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    &>img.hios-cover{
    flex: 0 1 auto;
    margin: 1em;
    align-self: center;
    border-radius: .3em;
    box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.8);
    width: 90%;
    }
  }
  &> .hios-tracking-container, .hios-info, .hios-audio-controls, .hios-list-controls {
    flex: 1 0 auto;
    // height: 10em;
    // width: 100%;
    display: flex-inline;
    flex-flow: row wrap;
    align-content: center;
    text-align: center;
    &> output {
      padding-top: .3em;
      margin: 0;
      font-size: .7em;
      color: #484848;
      &#hios-tracking-progres{
        align-self: flex-start;
      }
      &#hios-tracking-duration{
        align-self: flex-end;
      }
    }
    &> input[type=range]{
      flex: 0 1 auto;
      -webkit-appearance: none;
      width: 100%;
      cursor: pointer;
      padding: 0;
      margin: 0;
      background: none;
      &::-webkit-slider-runnable-track {
        height: 5px;
        background: #484848;
        border-radius: 3px;
      }
      &::-webkit-slider-thumb:before {
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 11px;
        width: 4px;
        position: relative;
        background: white;
        margin-top: -3px
      }
    }
    &>.hios-song-title{
      font-weight: bold;
    }
    &>.hios-song-artist{
      color: firebrick;
    }
  }
    &> img {
      margin-top: .3em;
      display: inline-block;
      height: 20px;
      width: 30px;
      border-radius: 3px;
    }
  
}
.hios-track-list {
  flex: 1 1 55%;
  margin: .4em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border: blue 1px solid;
  padding: 4px 0;
  &> .hios-track { 
    min-height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    &>img.hios-thumbnail {
      flex: 1 1 30%;
      border-radius: .3em;
      box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.8);
      max-width: 20%;
    }
    &> .hios-info{
      flex: 0 1 auto;
      padding: .4em;
      &> .hios-song-title{
        font-weight: bold;
        text-align: left;
      }
      &> .hios-song-artist{
        text-align: left;
      }
    }
  }
}


