body {
  position: relative;
  padding-top: 70px;
}
.hios-active {
  display: block !important;
}
.hios-inactive {
  display: none !important;
}
.hios-activated{
  background-color: red;
}
.hios-track-controls > img{
  display: inline-block;
  text-align: center;
  padding: 1px;
  height: 30px;
  width: 30px;
}
.hios-wrap {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
input[type=range]{
    -webkit-appearance: none;
    width: 275px;
    cursor: pointer;
  &::-webkit-slider-runnable-track {
    width: 275px;
    height: 5px;
    background: #484848;
    border-radius: 3px;
  }
  // &::-webkit-slider-thumb:before {
  //   position: absolute;
  //   width:100%
  //   top: 0;
  //   right: 50%;
  //   left: -200px;
  //   background: white;
  //   content: '';
  //   height: 5px;
  //   border-radius: 3px;
  // }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 11px;
    width: 4px;
    position: relative;
    background: white;
    margin-top: -3px
  }
}

#hios-mini, #hios-full {
  display: none;
  position: fixed;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 5px;
  bottom: 0;
  z-index: 90
}
#hios-mini {
  height: 60px;
  width: 300px;
  &> .hios-wrap {
    &> img.hios-thumbnail {
      display: inline-block;
      border-radius: 5px;
      box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.8);
      max-width: 20%;
      flex: 1 auto;
      padding: 0;
    }
    &> .hios-song-title {
      flex:  1 auto;
      padding: 15px;
    }
    &> .hios-track-controls {
      align-self: center;
      flex: 1 auto;
      max-width: 25%
    }
  }
}
#hios-full {
  border-radius: 10px;
  right: 0;
  top: 0;
  width: 300px;
  padding-top: 25px;
  &> img.hios-thumbnail {
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    width: 85%;
  }
  &> .hios-info, .hios-track-controls {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin: 10px;
    &> .hios-song-title{
      font-weight: bold;
    }
    &> .hios-song-artist{
      color: firebrick;
    }
  }
}
#hios-full > .hios-list-controls {
  display: block;
  border-top: 1px solid black;
  padding: 3px;
  width: 280px;
  text-align: right;
  &> img {
    display: inline-block;
    height: 20px;
    width: 30px;
    border-radius: 3px;
  }
}
#hios-full > .hios-track-list {
  display: block;
  position: relative;
  max-height: 400px;
  min-height: 100px;
  overflow: scroll;
  z-index: 85;
  &> .track {
  height: 100px;
  z-index: 99;
    &>img.hios-thumbnail {
      display: inline block;
      border-radius: 5px;
      box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.8);
      max-width: 20%;
      flex: 1 auto;
      margin: 0 auto;
    }
    &> .hios-info{
      flex:  1 auto;
      padding: 15px;
      &> .hios-song-title{
        font-weight: bold;
      }
    }
  }
}

