body {
  position: relative;
  padding-top: 70px;
}
.hios-active {
  display: block
}
.hios-inactive {
  display: none !important;
}
.hios-activated{
  background-color: red;
}
.hios-audio-controls > img{
  display: inline-block;
  text-align: center;
  padding: 1px;
  height: 30px;
  width: 30px;
}
.hios-wrap {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#hios-mini, #hios-full {
  position: fixed;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 10px;
  margin: .3em .3em;
  bottom: 0;
  z-index: 90
}
#hios-mini {
  height: 60px;
  width: 300px;
  z-index: 100;
  &> .hios-wrap {
    &> img.hios-thumbnail {
      display: inline-block;
      border-radius: 5px;
      box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.8);
      max-width: 20%;
      flex: 1 auto;
      padding: 0;
    }
    &> .hios-song-title {
      flex:  1 auto;
      padding: 15px;
    }
    &> .hios-audio-controls {
      align-self: center;
      flex: 1 auto;
      max-width: 25%
    }
  }
}
#hios-full {
  border-radius: 10px;
  right: 0;
  top: 0;
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  &> img.hios-thumbnail {
    margin: 1em;
    flex: 0 1 auto;
    align-self: center;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.8);
    width: 85%;
  }
  &> .hios-tracking-container, .hios-info, .hios-audio-controls {
    flex: 0 1 auto;
    align-self: center;
    width: 100%;
    padding: 2px;
    display: flex-inline;
    flex-flow: row wrap;
    align-content: center;
    text-align: center;
    &> output {
      padding-top: .3em;
      margin: 0;
      font-size: .7em;
      color: #484848;
      &#hios-tracking-progres{
        align-self: flex-start;
      }
      &#hios-tracking-duration{
        align-self: flex-end;
      }
    }
    &> input[type=range]{
      flex: 0 1 auto;
      -webkit-appearance: none;
      width: 100%;
      cursor: pointer;
      padding: 0;
      margin: 0;
      background: none;
      &::-webkit-slider-runnable-track {
        width: 80%;
        height: 5px;
        background: #484848;
        border-radius: 3px;
      }
      &::-webkit-slider-thumb:before {
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 11px;
        width: 4px;
        position: relative;
        background: white;
        margin-top: -3px
      }
    }
    &>.hios-song-title{
      font-weight: bold;
    }
    &>.hios-song-artist{
      color: firebrick;
    }
  }
  &> .hios-list-controls {
    display: block;
    border-top: 1px solid black;
    padding: 3px;
    width: 280px;
    text-align: right;
    &> img {
      margin-top: .3em;
      display: inline-block;
      height: 20px;
      width: 30px;
      border-radius: 3px;
    }
  }
}

.hios-track-list {
  flex: 0 1 auto;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  max-height: 400px;
  min-height: 100px;
  overflow: scroll;
  margin-bottom: .3em;
  z-index: 91;
  &> .track {
    height: 100px;
    z-index: 85;
    flex: 0 1 auto;
    &>img.hios-thumbnail {
      display: inline block;
      border-radius: 5px;
      box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.8);
      max-width: 20%;
      flex: 1 auto;
      margin: 0 auto;
    }
    &> .hios-info{
      flex:  1 auto;
      padding: 15px;
      &> .hios-song-title{
        font-weight: bold;
        text-align: left;
      }
      &> .hios-song-artist{
        text-align: left;
      }
    }
  }
}


