@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sghaim');
  src:  url('fonts/icomoon.eot?sghaim#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sghaim') format('truetype'),
    url('fonts/icomoon.woff?sghaim') format('woff'),
    url('fonts/icomoon.svg?sghaim#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-disk:before {
  content: "\e901";
}
.icon-upload:before {
  content: "\e929";
}
.icon-enlarge:before {
  content: "\e98b";
}
.icon-shrink:before {
  content: "\e98c";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-skip-back:before {
  content: "\ea1f";
}
.icon-skip-forward:before {
  content: "\ea20";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-repeat:before {
  content: "\ea2d";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-currently-playing:before {
  content: "\e900";
}
